.fav{
    position: absolute;
    right: 32px;
    bottom: 176px;
}
.panel, .musicPanel{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.music_thumb span{
    display: none;
}
.musicPanel{
    bottom: 68px;
}
.hidden{
    overflow: hidden;
}